body{
    margin:auto
}
a{
    text-decoration: none;
}
/*Header Css*/
header{
    height:60px;
    color:#fff;
    /* border:2px solid red; */
    background-color:#3b2632
}
#brand{
    float:left;
    margin-left: 2%;
    margin-top: 0%;
    font-size: 30px;
    margin-right: 2%;
}
#social{
    float:right;
    margin-right: 2%;
}
.socialLogo{
    height:50px
}