body{
    margin:auto
}
a{
    text-decoration: none;
}
/*Header Css*/
header{
    height:60px;
    color:#fff;
    /* border:2px solid red; */
    background-color:#3b2632
}
#brand{
    float:left;
    margin-left: 2%;
    font-size:35px;
    
}
#brand >a{
    color: white !important
}
#social{
    float:right;
    margin-right: 2%;
}
.socialLogo{
    height:50px
}

/**/
#content{
    width:80%;
    height:600px;
    display: inline-block;
    margin-left: 10%;
    margin-top:2%;

}

#imgDiv{
    height:450px;
    width:45%;
    float:left;
    border:8px groove gray
}

#imgDiv > img{
    width:100%;
    height:100%
}

#contentDiv{
    height:550px;
    width:47%;
    margin-left: 5%;
    float:left;
    margin-top:-2%;
}

.feature_container{
    width: 100%;
    display: flex;
}
figure{
    margin-left:5%
}
.featureIcon{
    height:100px;
    width:100px;
    margin-left:2%
}

/*Footer Css*/
footer{
    margin-top:5%;
    height:120px;
    text-align: center;
    background-color:#3b2632;
    color:white
    /* border:2px solid purple */
}

.footDiv{
    height:70px;
    width:33%;
    float:left;
    border-right:2px solid white
}
.noborder{
    border:none
}